@{
    ViewData["Title"] = "Home Page";
}
<p>Type the number of the Pokemon you wish to see:</p>
<form action="gen" method="POST">
    <input type="text" name="id">
    <input type="submit" value="Get Poke!">
</form>