@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h3>Name: @ViewBag.name</h3>
    <h3>Primary Type: @ViewBag.type</h3>
    <h3>Height: @ViewBag.height cm</h3>
    <h3>Weight: @ViewBag.weight kg</h3>
</div>
